.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(218, 255, 243);
}

.header img{
    margin: 10px;
    height: 60px;
    width: 60px;
}

.header a{
    padding: 10px;
}